<h2>My Forums</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>

  
</div>
<a routerLink="/forums/add">
  <button class="btn btn-primary">
    add
  </button>
</a>
<table class="table table-hover ">
  <caption>List of users</caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forum of forums">
      <td>{{forum.id}}</td>
      <td>{{forum.name}}</td>
      <td><button class="btn btn-primary" title="delete"
        (click)="delete(forum.id)">delete</button> 
      
        <a routerLink="/forums/edit/{{forum.id}}">
            <button class="btn btn-success" title="edit">edit</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>
